---
layout: default
title: About me
---

<div class="container">
  <div class="row-fluid main">
    <div class="content posts col-md-9">
      <h1>关于我</h1>
      <p>一个c++程序员，目前工作方向是c++ 分布式服务端/NoSQL数据库<a href="https://wanghenshui.github.io/resume/docs/resume.html">简历</a></p>
      <p>非计算机科班出身，还是要不断练习啊</p>

      <p>一切争吵无非读书太少。引自大神tk@tombkeeper</p>
      <blockquote>
      <p>我常建议支持我观点的朋友不要在评论里和反对者辩论。因为把时间用来和众人分享想法是更有效的利用方式。在评论中辩论当然不是不可以，如果有人愿意将宝贵的时间花在反对者身上，并且是为了一个可能性极其渺茫的目标，即：说服对方，我认为这是非常慷慨的，我常常做不到如此慷慨。</p>
      </blockquote>
      <h1>联系</h1>
      <p>看到我博客觉得我有意思的朋友也可以加微信，<del>尤其是单身女网友。。。以前加微信的都是男的。。</del></p>
      <p><img src="https://wanghenshui.github.io/assets/0-1552008412820.jpg" alt="Wechat code"></p>
      <p>@email: wanghenshui@qq.com</p>

        
      <h1>本站RSS</h1>
      <p><a href="https://wanghenshui.github.io/feed.json">feed.json</a></p>
      <p><a href="https://wanghenshui.github.io/feed.xml">feed.xml</a></p>
      <p><a href="https://github.com/wanghenshui/cppweeklynews/releases.atom">c++中文周刊RSS</a></p>
      <hr>

      c++中文周刊也可以关注这里
      <hr>
      <img src="https://wanghenshui.github.io/cppweeklynews/assets/code.png" alt=""  width="30%">
      <hr>

      <br><br>
      <script type="text/javascript" src="http://www.douban.com/service/badge/jieyaren/?selection=favorite&amp;picsize=small&amp;show=collection&amp;n=4&amp;hidelogo=on&amp;cat=movie%7Cbook&amp;columns=4"></script>
      <br><br>

      <p>另外，本博客已收到了一些赞助，列出名字表示感谢, 更多列在了profile页面，谢谢读者老爷：</p>
      <blockquote>
      <p>y*y </p>
      <p>bitstring</p>
      <p>汪总</p>
      </blockquote>
      {% include {{ site.baseurl }}comments.html %}
    </div>

    <div class="col-md-3 main-sidebar">
      {% include {{ site.baseurl }}sidebar_main.html %}
    </div>
  </div>
</div>
