<!-- Gitment 
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    id: '页面 ID',
    owner: 'wanghenshui',
    repo: 'wanghenshui.github.io',
    oauth: {
        client_id: 'd78eed812bc47bb6eac6',
        client_secret: '19c0fedb4f73e1fdf6444cb321043e4237e0b0e0',
    },
})
gitment.render('container')
</script>
//-->

<script src="https://beaudar.lipk.org/client.js"
repo="wanghenshui/wanghenshui.github.io"
issue-term="pathname"
theme="github-light"
crossorigin="anonymous"
async>
</script>