---
layout: default
---
{% include JB/setup %}

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-96JKJ1Q1L4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-96JKJ1Q1L4');
</script>


<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: wanghenshui,
    repo: wanghenshui.github.io,
    oauth: {
        client_id: d78eed812bc47bb6eac6,
        client_secret: 19c0fedb4f73e1fdf6444cb321043e4237e0b0e0,
    },
});
gitment.render('gitmentContainer');
</script>

{% include themes/twitter/post.html %}